name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  pipeline:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install deps
        run: |
          pip install -r requirements.txt

      - name: Run tests
        run: pytest

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/flask-app:latest

      - name: Deploy on VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: YOUR_VM_IP
          username: azureuser
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            cd ~/Enterprise-Delivery-Hub
            docker compose pull
            docker compose up -d
